[defaults]
inventory = inventory/hosts  # Указывает инвентори файл
roles_path = ../roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[paramiko_connection]
pipelining = True

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s